/* COVER PAGE: full screen, no scroll */
#coverPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;        /* full screen */
  width: 100%;
  overflow: hidden;     /* prevent scroll */
  background: linear-gradient(#ebf0f0, #66dfe7);
  color: white;
  position: relative;
  text-align: center;
}

/* Hide main page initially */
#mainPage {
  display: none;        /* will show after heart click */
  overflow-y: auto;     /* allow scrolling */
}
